@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --color-01: #001331;
    --color-02: #626E6E;
    --color-03: #EBFFFD;
    --color-04: #bd0000;
    --stop-01: rgba(0,255,185,1);
    --stop-02: rgba(92,83,138,1);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-01);
}

.box-container{
    width: 100%;
    max-width: 600px;
    background: linear-gradient(150deg, var(--stop-01) 10%, var(--stop-02) 100%);
    border-radius: 0.8rem;
    padding: 1rem;
}

.box-container .box-header{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.box-container .box-header input{
    flex: 1;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    color: var(--color-02);
    background-color: var(--color-03);
    padding: 1rem;
    border-radius: 50px;
    border: none;
    outline: none;
}

.box-container .box-header button{
    flex-shrink: 0;
    cursor: pointer;
    height: 52px;
    width: 52px;
    font-size: 1rem;
    color: var(--color-02);
    background-color: var(--color-03);
    border-radius: 50%;
    border: none;
}

.box-container .box-content{
    display: none;
}

.box-container .box-content .box-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box-container .box-content .box-temp img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.box-container .box-content .box-temp .temp-value{
    font-size: 2.5rem;
    line-height: 3rem;
    color: #ffffff;
}

.box-container .box-content .box-temp .description{
    font-weight: 500;
    text-transform: capitalize;
    color: #ffffff;
}

.box-container .box-content .city-name{
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.box-container .box-content .extra-infos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: 300px;
    margin: 0 auto;
}

.box-container .box-content .extra-infos .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #ffffff;
    padding: 0.5rem;
    background: #00000054;
    border-radius: 0.5rem;
}

.box-container .box-content .extra-infos .info h2{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.box-container .box-content .extra-infos .info i{
    font-size: 1.2rem;
    text-align: center;
}

.not-found-message{
    display: none;
}

.not-found-message p{
    color: var(--color-04);
    text-align: center;
}